@import "tailwindcss";

/* vscode-css-disable-unknown-at-rules */
@theme {
  --font-poppins: var(--font-poppins), sans-serif;
  --font-roboto: var(--font-roboto), sans-serif;
  --font-mono: var(--font-mono), monospace;

  --color-primary-dark: #1B262C;
  --color-ice-blue: #BBE1FA;
  --color-amber-gold: #FFB400;
  --color-light-bg: #F9F9F9;
}

body {
  font-family: var(--font-roboto);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}
.force-cli-font, .force-cli-font * {
  font-family: 'Fira Code', 'JetBrains Mono', Consolas, Monaco, 'Andale Mono', monospace !important;
}
@layer components {
  .input-admin {
    @apply w-full rounded-xl border border-white/10 bg-primary-dark/90 px-3.5 py-2.5 text-xs text-white focus:border-amber-gold focus:outline-none transition-all placeholder:text-slate-500;
  }
  .btn-submit {
    @apply w-full rounded-xl bg-amber-gold px-6 py-3 text-xs font-bold text-primary-dark transition-all hover:bg-amber-300 shadow-[0_0_20px_rgba(255,180,0,0.3)] disabled:opacity-50 mt-4 cursor-pointer;
  }
}